# Q1. Create one variable containing following type of data:

In [1]:
#(i) String
str1 = 'Python'

In [2]:
#(ii) List
lst = [1, 2, 3, 4, 5, 'a', 'b', 'c']

In [3]:
#(iii) Float
flt = 3.4

In [4]:
#(iv) Tuple
tpl = (1, 2, 3, 4, 5, 'a', 'b', 'c')

# Q2. Given are some following variables containing data:
## What will be the data type of the above given variable.

In [5]:
#(i) 
var1 = ''
type(var1)
# Ans - string

str

In [8]:
#(ii) 
var2 = '[ DS , ML , Python]'
type(var2)
# Ans - string

str

In [9]:
#(iii) 
var3 = [ 'DS' , 'ML' , 'Python' ]
type(var3)
# Ans - list

list

In [10]:
#(iv) 
var4 = 1
type(var4)
# Ans - integer

int

# Q3. Explain the use of the following operators using an example:

In [12]:
#(i) /
4/2

2.0

## This is because the '/' operator is used for division of two numbers. We all know that 4 divided by 2 = 2. Hence the answer.

In [13]:
#(ii) %
5%3

2

## This is because the '%' operator is the modulus operator which outputs the remainder when divided by a number. We all know that 5 divided by 3 gives a remainder of 2. Hence the answer.

In [17]:
#(iii) //
5//3

1

## This is because the '//' operator is the floor division operator which outputs the floor value of the answer when divided by a number. We all know that 5 divided by 3 is 1.66667. Hence the answer.

In [18]:
#(iv) **
2**3

8

## This is because the '**' operator is the exponent operator which outputs the first number raised to the second number. We all know that 2 raised to 3 = 8. Hence the answer.

# Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [19]:
lst1 = [1, 2, 3, 'a', 'b', 'c', 2.3, 3.4, True, False]

for x in lst1:
    print(x)
    print(type(x))

1
<class 'int'>
2
<class 'int'>
3
<class 'int'>
a
<class 'str'>
b
<class 'str'>
c
<class 'str'>
2.3
<class 'float'>
3.4
<class 'float'>
True
<class 'bool'>
False
<class 'bool'>

# Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [22]:
A = int(input("Enter number A: "))
B = int(input("Enter number B: "))
count = 0
while A % B == 0:
    A /= B
    count += 1
else:
    print("It can be divided ", count, "times.")

Enter number A: 1024
Enter number B: 2
It can be divided  10 times.

# Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [24]:
lst2 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]
for x in lst2:
    if x % 3 == 0:
        print(x, " is divisible by 3.\n")
    else:
        print(x, " is not divisible by 3.\n")

1  is not divisible by 3.

2  is not divisible by 3.

3  is divisible by 3.

4  is not divisible by 3.

5  is not divisible by 3.

6  is divisible by 3.

7  is not divisible by 3.

8  is not divisible by 3.

9  is divisible by 3.

10  is not divisible by 3.

11  is not divisible by 3.

12  is divisible by 3.

13  is not divisible by 3.

14  is not divisible by 3.

15  is divisible by 3.

16  is not divisible by 3.

17  is not divisible by 3.

18  is divisible by 3.

19  is not divisible by 3.

20  is not divisible by 3.

21  is divisible by 3.

22  is not divisible by 3.

23  is not divisible by 3.

24  is divisible by 3.

25  is not divisible by 3.

# Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

## Mutable data types are those data types in which the data contained can be changed. For example --> Lists.
## Immutable data types are those data types in which the data contained cannot be changed. For example --> Tuples.

In [26]:
# Mutable Data type -- List
lst3 = [1, 2, 3, 4, 5]

lst3[2] = 6

print(lst3)

# This will not throw an error.

[1, 2, 6, 4, 5]

In [27]:
# Immutable Data type -- Tuple
tpl1 = (1, 2, 3, 4, 5)

tpl1[2] = 6

print(tpl1)

# This will throw an error.

TypeError: 'tuple' object does not support item assignment